@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Oswald:wght@200..700&display=swap');
body {
    color: rgb(241, 127, 0);
    font-family: "Oswald", sans-serif;
    background-image: url(img/background.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
  }
  h1, h2, h3, h4{
      font-family: "Libre Baskerville", serif;   
      }
  p{font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
        }
nav {
    color: rgb(241, 127, 0);
    background-color: rgba(241, 129, 0, 0.856);
    
    
    }
nav a {
    color: rgb(143, 34, 1);
    font-family: "Oswald", sans-serif !important;
    
}
.paper.container {
    background-color: rgb(255, 255, 255);
    }
.tabs {
     color: rgb(241, 127, 0);
}